@model IEnumerable<CoPilot.Models.OrderDetail>
@{
    ViewBag.Title = "OrderReports";
}

<div class="pagebody">
    <h2>Order Reports</h2>
    @Html.ActionLink(linkText: "Weekly Order Report", actionName: "WeeklyOrderReport", controllerName: "Order", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
    @Html.ActionLink(linkText: "Weekly Vendor Report", actionName: "WeeklyVendorReport", controllerName: "Order", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
}
