@model CoPilot.Models.Event

@{
    ViewBag.Title = "Delete Event";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="eventDelete">
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-body background75">
                <p>
                    <h3>Are you sure you want to delete this?</h3>
                </p>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink(linkText: "Back to List", actionName: "Index", controllerName: "Events", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                        <input type="submit" value="Delete" class="btn-xs btn-cp" />
                    </div>
                }
                <p>
                    @Html.LabelFor(model => model.EventName)
                    @Html.DisplayFor(model => model.EventName)<br/>

                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.ContentList)<br/>

                    @Html.LabelFor(model => model.EventStartDateTime)
                    @Html.DisplayFor(model => model.EventStartDateTime)<br/>

                    @Html.LabelFor(model => model.EventEndDateTime)
                    @Html.DisplayFor(model => model.EventEndDateTime)<br/>

                    @Html.LabelFor(model => model.OrderingStartDateTime)
                    @Html.DisplayFor(model => model.OrderingStartDateTime)<br/>

                    @Html.LabelFor(model => model.OrderingEndDateTime)
                    @Html.DisplayFor(model => model.OrderingEndDateTime)<br/>

                    @Html.LabelFor(model => model.Status)
                    @Html.DisplayFor(model => model.Status)<br/>

                    @Html.LabelFor(model => model.EventHtml)<br/>
                    <div class="background75">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.EventHtml))
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
