@model CoPilot.Models.Event
@{
    ViewBag.Title = "Event Details";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="eventDetails">
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-body background75">
                <p>
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn-xs btn-cp" })
                    @Html.ActionLink("Edit", "Edit", new {id = Model.EventId}, new {@class = "btn-xs btn-cp"})
                </p>
                <p>
                    @Html.LabelFor(model => model.EventName)
                    @Html.DisplayFor(model => model.EventName)<br />

                    @Html.HiddenFor(model => model.UserId)
                    @Html.HiddenFor(model => model.ContentList)<br />

                    @Html.LabelFor(model => model.EventStartDateTime)
                    @Html.DisplayFor(model => model.EventStartDateTime)<br />

                    @Html.LabelFor(model => model.EventEndDateTime)
                    @Html.DisplayFor(model => model.EventEndDateTime)<br />

                    @Html.LabelFor(model => model.OrderingStartDateTime)
                    @Html.DisplayFor(model => model.OrderingStartDateTime)<br />

                    @Html.LabelFor(model => model.OrderingEndDateTime)
                    @Html.DisplayFor(model => model.OrderingEndDateTime)<br />

                    @Html.LabelFor(model => model.Status)
                    @Html.DisplayFor(model => model.Status)<br />

                    @Html.LabelFor(model => model.EventHtml)<br />
                    <div class="background75">
                        @Html.Raw(HttpUtility.HtmlDecode(Model.EventHtml))
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
