@model CoPilot.Models.Partner
@{
    ViewBag.Title = "Delete Partner";
}
<div class="pagebody">
<h2>@ViewBag.Title</h2>
<p>
    Are you sure you want to delete the product titled <b>@Model.Name</b>?
</p>
@using (Html.BeginForm())
{
    <fieldset>
        <legend></legend>
        @Html.ActionLink(linkText: "Back to List", actionName: "Index", controllerName: "Partner", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
        <button type="submit" class="btn-xs btn-cp">Delete</button>
        @Html.LabelFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)<br />
        @Html.LabelFor(model => model.Owners)
        @Html.DisplayFor(model => model.Owners)<br />
        @Html.LabelFor(model => model.Location)
        @Html.DisplayFor(model => model.Location)<br />
        @Html.LabelFor(model => model.ShortDescription)
        @Html.DisplayFor(model => model.ShortDescription)<br />
        @Html.LabelFor(model => model.LongDescription)
        @Html.DisplayFor(model => model.LongDescription)<br />
        @Html.LabelFor(model => model.PartnerType)
        @Html.DisplayFor(model => model.PartnerType)<br />
        @Html.LabelFor(model => model.Status)
        @Html.DisplayFor(model => model.Status)<br />
        </fieldset>
}
</div>
