@model IEnumerable<CoPilot.Models.Partner>
@{
    ViewBag.Title = "Partner Index";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="partnerList">
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-body background75">
                <div id="update-message">
                </div>
                <p>
                    @Html.ActionLink(linkText: "Operations", actionName: "Edit", controllerName: "AppSettings", routeValues: new {}, htmlAttributes: new {@class = "btn-xs btn-cp"})
                    @Html.ActionLink(linkText: "Create New", actionName: "Create", controllerName: "Partner", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                </p>
                <div class="form-group">
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input id="ShowHiddenObjects" type="checkbox" data-function="ShowHiddenObjects" data-url="/Partner/Index" value="">
                                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                                Show hidden partners, you cannot delete data in the market
                            </label>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-responsive table-hover table-striped">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Owners)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Location)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owners)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Location)
                            </td>
                            <td>
                                @Html.ActionLink(linkText: "Edit", actionName: "Edit", controllerName: "Partner", routeValues: new {partnerId = item.PartnerId}, htmlAttributes: new {@class = "btn-xs btn-cp"})
                                @Html.ActionLink(linkText: "Details", actionName: "Details", controllerName: "Partner", routeValues: new {partnerId = item.PartnerId}, htmlAttributes: new {@class = "btn-xs btn-cp"})
                                @*
                                    @Html.ActionLink("Edit", "Edit", new { id = item.PartnerId }, new { @class = "btn-xs btn-cp" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.PartnerId }, new { @class = "btn-xs btn-cp" })
                                *@
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
