@model CoPilot.Models.Story
@{
    ViewBag.Title = "Delete Story";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="storyDelete">
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-body background75">
                <h3>Are you sure you want to hide this story?</h3>
                @using (Html.BeginForm())
                {
                    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn-xs btn-cp" })
                    <button type="submit" class="btn-xs btn-cp">Delete</button>
                    <br />
                    @Html.LabelFor(model => model.Headline)
                    @Html.DisplayFor(model => model.Headline)<br />
                    @Html.LabelFor(model => model.StoryDateTime)
                    @Html.DisplayFor(model => model.StoryDateTime)<br />
                    @Html.LabelFor(model => model.Status)
                    @Html.DisplayFor(model => model.Status)<br />
                    }
            </div>
        </div>
    </div>
</div>