@model CoPilot.Models.LocalPasswordModel

<h4>Change Password</h4>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-12">
            @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
            <input type="submit" value="Change password" class="btn-xs btn-cp" />
        </div>
    </div>
    <div class="text-danger col-md-12">@Html.ValidationSummary(true)</div>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <div class="text-danger">
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
    </div>
</form>