@model CoPilot.Models.LocalPasswordModel
@{
    ViewBag.Title = "Account";
    ViewBag.Message = "Wren Thicket Market";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="passwordChange">
                <h4 class="panel-title">Change your Account Password</h4>
            </div>
            <div class="panel-body background75">
                <div id="update-message">
                    @ViewBag.StatusMessage
                </div>
                <p>
                    You're logged in as <strong>@User.Identity.Name</strong>.
                </p>
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

                @*<section id="externalLogins">
                        @Html.Action("RemoveExternalLogins")

                        <h3>Add an external login</h3>
                        @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
                    </section>*@
            </div>
        </div>
    </div>
</div>


