@model CoPilot.Models.UserProfile
@{
    ViewBag.Title = "Edit Account";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="accountEdit">
                <h4 class="panel-title">@ViewBag.Title</h4>
            </div>
            <div class="panel-body background75">
                @using (@Html.BeginForm("Edit", "Account", new {}, FormMethod.Post, new { @id = "AccountEdit", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new {}, htmlAttributes: new {@class = "btn-xs btn-cp"})
                            <button type="submit" class="btn-xs btn-cp">Save</button>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.HiddenFor(model => model.UserId)
                        @Html.LabelFor(model => model.UserName, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.UserName, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.UserName)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.LastName, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.LastName)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.FirstName, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.FirstName)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EmailAddress, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.EmailAddress, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.EmailAddress)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Phone, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.Phone)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StreetAddress, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.StreetAddress, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.StreetAddress)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.City, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.City, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.City)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.State, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.State, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.State)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PostalCode, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.PostalCode, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.PostalCode)</div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Country, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Country, new {@class = "form-control"})
                            <div class="text-danger">@Html.ValidationMessageFor(model => model.Country)</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
}
