@model CoPilot.Models.LostPasswordModel
@{
    ViewBag.Title = "Email UserName";
}
<div class="container">
    <div class="panel-group first-panel">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="productHead">
                <h4 class="panel-title">Forget market user name? Enter your email address and click the recover user name button. An email will be sent to you with your user name.</h4>
            </div>
            <div class="panel-body background75">
                @using (@Html.BeginForm("EmailUserName", "Account", new {}, FormMethod.Post, new { @id = "AccountEmailUserName", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <div class="text-danger col-md-12">
                            <span id="update-message">
                                @ViewBag.StatusMessage
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                            <button type="submit" class="btn-xs btn-cp">Recover User Name</button>
                        </div>
                    </div>
                    <div class="text-danger col-md-12">@Html.ValidationSummary(true)</div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                            <div class="text-danger">
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>