@model CoPilot.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
}

<div class="container">
    <div class="panel-group first-panel">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="accountResetPassword">
            <h4 class="panel-title">Reset Password</h4>
        </div>
        <div class="panel-body background75">
            @using (@Html.BeginForm("ResetPassword", "Account", new { }, FormMethod.Post, new { @id = "AccountResetPassword", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <h2>@ViewBag.Message</h2>
                <p>
                    @Html.ActionLink(linkText: "Market", actionName: "Index", controllerName: "Home", routeValues: new { }, htmlAttributes: new { @class = "btn-xs btn-cp" })
                    <input type="submit" class="btn-xs btn-cp" value="Reset"/>
                </p>
                <fieldset>
                    <legend>Resetting password form</legend>
                    <ol>
                        <li>
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </li>
                        <li>
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </li>
                        @Html.HiddenFor(m => m.ReturnToken)
                    </ol>
                </fieldset>
            }
        </div>
    </div>
    </div>
</div>
